* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: hsl(323, 100%, 70%); */
  background-color: #a03d7a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-icon {
  font-size: 2.5rem;
  margin: 1rem;
  color: hsl(164, 94%, 75%);
}

/* .bimbo {
  font-size: 2rem;
  font-family: "Bimbo", sans-serif !important;
  font-weight: 400;
} */

/* .bukhari {
  font-family: "Bukhari Script", sans-serif !important;
} */

.strong {
  text-shadow: 3px 3px 1px black;
}

.heading {
  display: block;
  padding: 0.25rem 0 !important;
}

.page-1-button {
  width: 100%;
}

.page-1-button:hover {
  transform: scale(1.1);
}

.tr {
  line-height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.tr:nth-child(odd) {
  background-color: lightgray;
}

/* .plus {
  font-size: 50px !important;
} */
